<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Turnament:</strong>
  <%= @group.turnament_id %>
</p>

<p>
  <strong>Team ids:</strong>
  <%= @group.team_ids %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
