<p id="notice"><%= notice %></p>

<h2>
  <%= @game_turnament.name %>
</h2>

<h3 id="teams"><Teams and Groups</h3>
    <div class="Groups row">
        <div id="GroupA" class="col col-md-6">
            <h3>Group A</h3>
            <% @group_a_teams.each do |team| %>
              <h5><img src="<%=team.image%>" width='30px' height='20px'/>  <%= team.name %></h5>
            <%end%>   
            
                                          
        </div>
        <div id="GroupB" class="col col-md-6">
            <h3>Group B</h>
            <% @group_b_teams.each do |team| %>
              <h5><img src="<%=team.image%>" width='30px' height='20px'/>  <%= team.name %></h5>
            <%end%>                        
        </div>
       
</div>
<br/>
<div class="row">
        <div class="col col-md-6">
          <p>
            <strong>Status:</strong>
            <%= @game_turnament.status %>
          </p>                       
        </div>
        <div  class="col col-md-6">
          <p>
            <strong>Progress:</strong>
            <%= @game_turnament.progress %>
          </p>
                                    
        </div>

<%if @game_turnament.status == "done"%>
<p>
  <strong>Winner:</strong>
   <img src="<%=@winner.image%>" width='15px' height='12px'/> <%= @winner.name %> </p>

<p>
  <strong>Finalist:</strong>
  <img src="<%=@finalist.image%>" width='15px' height='12px'/> <%= @finalist.name %>
</p>
<%end%>

<%if @game_turnament.status == "draft"%>
<%= link_to 'Start Group Matches', group_game_game_turnament_path(@game_turnament), class: "btn btn-primary" %> 
<%end%>
<%if @game_turnament.progress == "play-off-stage"%>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'Play Play-Off', play_off_game_turnament_path(@game_turnament), class: "btn btn-warning" %> 
  </div>
  <div class="col-md-6">
    <%= link_to 'View Result', matches_game_turnament_path(@game_turnament), class: "btn btn-info" %> 
  </div>
</div>
  <%end%>
<%if @game_turnament.progress == "final-stage"%>
<div class="row">
  <div class="col-md-6">
  <%= link_to 'Play Final Match', final_game_turnament_path(@game_turnament), class: "btn btn-primary" %> 
  </div>
  <div class="col-md-6">
    <%= link_to 'View Result', matches_game_turnament_path(@game_turnament), class: "btn btn-info" %> 
  </div>
</div>
<%end%>
<%if @game_turnament.progress == "completed"%>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'View Results', matches_game_turnament_path(@game_turnament), class: "btn btn-info" %> <br/>
  </div>
</div>
<%end%>

| <%= link_to 'Back', game_turnaments_path, class: "btn btn-secondary" %>
